# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Code generation binaries
bin/

# Dependency directories
vendor
devbox

# IDE
.idea/
.vscode/

# JavaScript
node_modules/
yarn.lock
yarn-error.log
